## talib candlestick pattern recognitron

CDL2CROWS           Two Crows
CDL3BLACKCROWS      Three Black Crows
CDL3INSIDE          Three Inside Up/Down
CDL3LINESTRIKE      Three-Line Strike 
CDL3OUTSIDE         Three Outside Up/Down
CDL3STARSINSOUTH    Three Stars In The South
CDL3WHITESOLDIERS   Three Advancing White Soldiers
CDLABANDONEDBABY    Abandoned Baby
CDLADVANCEBLOCK     Advance Block
CDLBELTHOLD         Belt-hold
CDLBREAKAWAY        Breakaway
CDLCLOSINGMARUBOZU  Closing Marubozu
CDLCONCEALBABYSWALL Concealing Baby Swallow
CDLCOUNTERATTACK    Counterattack
CDLDARKCLOUDCOVER   Dark Cloud Cover
CDLDOJI             Doji
CDLDOJISTAR         Doji Star
CDLDRAGONFLYDOJI    Dragonfly Doji
CDLENGULFING        Engulfing Pattern
CDLEVENINGDOJISTAR  Evening Doji Star
CDLEVENINGSTAR      Evening Star
CDLGAPSIDESIDEWHITE Up/Down-gap side-by-side white lines
CDLGRAVESTONEDOJI   Gravestone Doji
CDLHAMMER           Hammer
CDLHANGINGMAN       Hanging Man
CDLHARAMI           Harami Pattern
CDLHARAMICROSS      Harami Cross Pattern
CDLHIGHWAVE         High-Wave Candle
CDLHIKKAKE          Hikkake Pattern
CDLHIKKAKEMOD       Modified Hikkake Pattern
CDLHOMINGPIGEON     Homing Pigeon
CDLIDENTICAL3CROWS  Identical Three Crows
CDLINNECK           In-Neck Pattern
CDLINVERTEDHAMMER   Inverted Hammer
CDLKICKING          Kicking
CDLKICKINGBYLENGTH  Kicking - bull/bear determined by the longer marubozu
CDLLADDERBOTTOM     Ladder Bottom
CDLLONGLEGGEDDOJI   Long Legged Doji
CDLLONGLINE         Long Line Candle
CDLMARUBOZU         Marubozu
CDLMATCHINGLOW      Matching Low
CDLMATHOLD          Mat Hold
CDLMORNINGDOJISTAR  Morning Doji Star
CDLMORNINGSTAR      Morning Star
CDLONNECK           On-Neck Pattern
CDLPIERCING         Piercing Pattern
CDLRICKSHAWMAN      Rickshaw Man
CDLRISEFALL3METHODS Rising/Falling Three Methods
CDLSEPARATINGLINES  Separating Lines
CDLSHOOTINGSTAR     Shooting Star
CDLSHORTLINE        Short Line Candle
CDLSPINNINGTOP      Spinning Top
CDLSTALLEDPATTERN   Stalled Pattern
CDLSTICKSANDWICH    Stick Sandwich
CDLTAKURI           Takuri (Dragonfly Doji with very long lower shadow)
CDLTASUKIGAP        Tasuki Gap
CDLTHRUSTING        Thrusting Pattern
CDLTRISTAR          Tristar Pattern
CDLUNIQUE3RIVER     Unique 3 River
CDLUPSIDEGAP2CROWS  Upside Gap Two Crows
CDLXSIDEGAP3METHODS Upside/Downside Gap Three Methods

In [2]:
import numpy as np
import pandas as pd
import talib
import pprint

In [2]:
pdf = pd.read_csv('/home/starq/REP/DATA/FINANCE/Quotazioni/ASA.csv' \
                                 ,usecols=['Date','Open', 'High', 'Low', 'Close', 'Volume'] \
                                 ,parse_dates=['Date'],infer_datetime_format=True \
                                 ,index_col='Date')

In [6]:
help(talib.CDL3OUTSIDE)

Help on built-in function CDL3OUTSIDE in module talib.func:

CDL3OUTSIDE(...)
    CDL3OUTSIDE(open, high, low, close)

    Three Outside Up/Down (Pattern Recognition)

    Inputs:
        prices: ['open', 'high', 'low', 'close']
    Outputs:
        integer (values are -100, 0 or 100)

In [3]:
pdf['CDL2CROWS'] = talib.CDL2CROWS(pdf['Open'].values, pdf['High'].values, pdf['Low'].values, pdf['Close'].values)

In [4]:
%timeit pdf['CDL2CROWS'] = talib.CDL2CROWS(\
                            pdf['Open'].values, pdf['High'].values, pdf['Low'].values, pdf['Close'].values)

The slowest run took 4.14 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 352 µs per loop

table[table.column_name == some_value]
Multiple conditions:

table[(table.column_name == some_value) | (table.column_name2 == some_value2)]
or

table.query('column_name == some_value | column_name2 == some_value2')

In [5]:
%timeit pdf.query('CDL2CROWS != 0')

The slowest run took 38.60 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 3: 2 ms per loop

In [6]:
%timeit pdf.loc[pdf['CDL2CROWS'] != 0]

1000 loops, best of 3: 530 µs per loop

### BEST QUERY PERFORMANCE (np.where)

In [7]:
%timeit pdf.iloc[np.where(pdf['CDL2CROWS'].values !=0)]

1000 loops, best of 3: 379 µs per loop

In [17]:
help(talib.CDLENGULFING)

Help on built-in function CDLENGULFING in module talib.func:

CDLENGULFING(...)
    CDLENGULFING(open, high, low, close)

    Engulfing Pattern (Pattern Recognition)

    Inputs:
        prices: ['open', 'high', 'low', 'close']
    Outputs:
        integer (values are -100, 0 or 100)

In [9]:
pdf['CDLENGULFING'] = talib.CDLENGULFING(\
                        pdf['Open'].values, pdf['High'].values, pdf['Low'].values, pdf['Close'].values)

In [20]:
%timeit pdf['CDLENGULFING'] = talib.CDLENGULFING(\
                        pdf['Open'].values, pdf['High'].values, pdf['Low'].values, pdf['Close'].values)

The slowest run took 7.22 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 317 µs per loop

In [26]:
%timeit pdf.iloc[np.where(pdf['CDLENGULFING'].values==100)]

The slowest run took 8.66 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 481 µs per loop

In [10]:
pdf.iloc[np.where(pdf['CDLENGULFING'].values==100)]

,Open,High,Low,Close,Volume,CDL2CROWS,CDLENGULFING
Date,,,,,,,
1982-10-26,51.624990,53.000010,50.12499,52.875000,541800,0,100
1983-01-18,78.249990,79.749990,76.62501,79.374990,356700,0,100
1983-09-16,63.000000,65.124990,62.62500,64.749990,206400,0,100
1983-10-05,54.624990,56.499990,53.49999,56.499990,318600,0,100
1983-10-24,53.250000,56.499990,53.12499,56.375010,389700,0,100
1983-11-03,51.375000,52.250010,50.62500,51.875010,216900,0,100
1984-02-14,58.250010,60.624990,58.25001,60.500010,258000,0,100
1984-03-28,63.249990,66.375000,63.00000,65.124990,275400,0,100
1985-01-15,46.749990,47.750010,46.74999,47.750010,176400,0,100
1985-03-12,47.375010,48.249990,47.37501,48.125010,95400,0,100
1985-10-01,38.124990,38.874990,38.12499,38.625000,84900,0,100
1985-10-11,38.375010,38.874990,38.25000,38.750010,30900,0,100
1986-06-09,34.250010,35.874990,34.12500,35.625000,191100,0,100
1986-11-07,37.749990,39.000000,37.74999,38.499990,492000,0,100
1986-11-12,38.874990,39.375000,38.75001,39.249990,255900,0,100
1986-11-25,34.500000,35.250000,34.50000,35.124990,198300,0,100
1987-07-06,56.750010,58.125000,56.49999,57.875010,155400,0,100
1987-08-26,63.624990,65.625000,63.50001,65.625000,258000,0,100
1988-01-05,47.750010,50.124990,47.12499,49.875000,366300,0,100
1988-06-02,44.250000,46.374990,44.00001,46.125000,399600,0,100
1988-06-09,44.625000,45.624990,44.62500,45.624990,206100,0,100
1988-07-13,41.250000,42.500010,41.25000,42.375000,155100,0,100
1988-07-19,40.500000,42.249990,40.50000,42.125010,358500,0,100
1988-08-24,36.125010,37.250010,36.12501,37.250010,255300,0,100
1989-06-15,40.500000,41.499990,40.50000,41.124990,106800,0,100
1989-06-23,41.124990,41.874990,40.74999,41.750010,267000,0,100
1989-07-12,42.375000,43.125000,42.37500,42.875010,446100,0,100
1989-12-20,56.250000,57.500010,56.12499,57.375000,256500,0,100
1990-01-22,60.000000,62.000010,59.25000,62.000010,605400,0,100
1990-03-09,51.000000,51.750000,50.87499,51.624990,195900,0,100
...,...,...,...,...,...,...,...
2013-03-27,19.030001,19.520000,19.01000,19.520000,48000,0,100
2013-05-20,13.500000,14.170000,13.50000,14.150000,135900,0,100
2013-06-13,13.690000,13.850000,13.60000,13.850000,31600,0,100
2013-08-20,14.500000,15.000000,14.50000,14.930000,51500,0,100
2013-08-23,14.580000,14.930000,14.58000,14.780000,61200,0,100
2013-09-24,13.110000,13.410000,12.96000,13.310000,69000,0,100
2013-12-23,11.500000,11.710000,11.50000,11.690000,227700,0,100
2014-02-13,13.780000,14.400000,13.78000,14.340000,89800,0,100
2014-04-07,13.650000,14.020000,13.65000,13.830000,101100,0,100
2014-04-09,13.810000,14.130000,13.81000,14.060000,115200,0,100
2014-05-02,13.630000,13.920000,13.59000,13.800000,82100,0,100
2014-06-23,14.240000,14.550000,14.18000,14.520000,63800,0,100
2014-07-02,14.450000,14.750000,14.45000,14.660000,89100,0,100
2014-07-25,14.450000,14.790000,14.45000,14.750000,87900,0,100
2014-09-11,13.100000,13.320000,13.04000,13.300000,77600,0,100
2014-09-25,11.990000,12.240000,11.86000,12.180000,98600,0,100
2014-10-16,11.900000,12.160000,11.90000,12.080000,28900,0,100
2014-11-14,10.310000,11.010000,10.24000,10.940000,98000,0,100
2014-12-31,9.950000,10.300000,9.95000,10.110000,248200,0,100
2015-02-04,11.780000,12.050000,11.78000,12.020000,76300,0,100
2015-02-18,11.100000,11.400000,11.10000,11.380000,223700,0,100
2015-03-13,10.130000,10.270000,9.97000,10.260000,150200,0,100
2015-03-18,9.970000,10.360000,9.80000,10.330000,106700,0,100
2015-05-01,10.750000,11.000000,10.75000,10.940000,108200,0,100
2015-05-28,10.520000,10.700000,10.40000,10.700000,88500,0,100
2015-09-30,7.440000,7.820000,7.00000,7.820000,29600,0,100
2016-01-29,7.250000,7.530000,7.25000,7.530000,76400,0,100
2016-02-03,7.620000,8.140000,7.62000,8.120000,118700,0,100
2016-03-21,10.250000,10.490000,10.25000,10.360000,62200,0,100
2016-07-08,15.600000,16.209999,15.60000,16.190001,307700,0,100

In [11]:
help(talib.CDL3INSIDE)

Help on built-in function CDL3INSIDE in module talib.func:

CDL3INSIDE(...)
    CDL3INSIDE(open, high, low, close)

    Three Inside Up/Down (Pattern Recognition)

    Inputs:
        prices: ['open', 'high', 'low', 'close']
    Outputs:
        integer (values are -100, 0 or 100)

In [13]:
%timeit pdf['CDL3INSIDE'] = talib.CDL3INSIDE(\
                        pdf['Open'].values, pdf['High'].values, pdf['Low'].values, pdf['Close'].values)

1000 loops, best of 3: 412 µs per loop

In [19]:
pdf.iloc[np.where(pdf['CDL3INSIDE'].values==100)]#.count()

,Open,High,Low,Close,Volume,CDL2CROWS,CDLENGULFING,CDL3INSIDE
Date,,,,,,,,
1980-06-27,52.250010,53.874990,52.250010,53.499990,214200,0,0,100
1980-09-19,76.250010,79.875000,76.250010,78.999990,349500,0,0,100
1981-09-21,52.749990,54.000000,52.749990,53.874990,200100,0,0,100
1982-08-12,29.874990,30.249990,29.499990,30.000000,138000,0,0,100
1984-06-01,63.000000,64.500000,62.750010,63.624990,376500,0,0,100
1984-11-29,55.500000,56.124990,55.500000,56.000010,158100,0,0,100
1986-02-06,37.374990,37.749990,37.250010,37.625010,81900,0,0,100
1986-03-21,38.750010,39.624990,38.750010,39.249990,278400,0,0,100
1986-05-22,34.374990,34.749990,34.250010,34.625010,169200,0,0,100
1987-01-27,41.375010,41.499990,40.125000,41.375010,295200,0,0,100
1987-05-28,56.250000,57.500010,56.124990,57.000000,310200,0,0,100
1987-09-24,63.500010,64.125000,63.375000,63.999990,178200,0,0,100
1987-10-15,62.250000,63.999990,62.250000,63.125010,307200,0,0,100
1988-09-21,36.000000,36.500010,36.000000,36.500010,128100,0,0,100
1989-03-06,39.999990,40.500000,39.875010,40.374990,88800,0,0,100
1992-07-31,40.125000,40.374990,39.999990,40.125000,64200,0,0,100
1992-10-06,34.250010,34.749990,34.250010,34.749990,78000,0,0,100
1992-10-30,30.999990,31.500000,30.750000,31.374990,157500,0,0,100
1993-09-15,39.500010,40.250010,39.500010,39.999990,268800,0,0,100
1995-06-08,43.625010,44.250000,43.500000,44.250000,266700,0,0,100
1998-01-28,22.875000,23.874990,22.812510,23.874990,391800,0,0,100
2001-04-04,16.299990,16.749990,16.299990,16.650001,475500,0,0,100
2002-02-01,22.449989,23.079989,22.430009,22.850010,582600,0,0,100
2002-12-12,33.750000,37.400010,33.750000,37.149991,1628100,0,100,100
2003-10-21,42.099990,43.650001,41.900010,43.610009,560400,0,0,100
2003-11-05,42.900001,43.880010,42.849990,43.589999,236400,0,0,100
2003-12-23,43.199999,44.000010,43.199999,43.829999,226800,0,0,100
2004-06-16,34.599990,35.300011,34.389991,35.099999,142200,0,0,100
2004-10-20,41.799989,42.390000,41.769991,42.390000,256500,0,0,100
2004-11-12,42.249990,43.730009,42.189989,43.610009,592800,0,100,100
2006-04-24,66.149998,68.769991,66.099993,68.769991,337500,0,0,100
2006-05-05,71.199989,72.389997,71.199989,72.159988,351000,0,0,100
2006-05-26,61.919998,62.850002,61.500000,62.699999,88500,0,0,100
2006-06-29,59.199989,61.299992,59.000010,60.959999,350700,0,0,100
2007-01-12,59.150007,60.099993,59.100002,59.709990,280500,0,0,100
2008-09-22,59.049992,63.050011,59.000010,62.010000,427800,0,0,100
2009-04-23,50.049992,50.660007,48.999990,50.169989,218100,0,0,100
2010-05-12,28.270000,28.790001,28.110001,28.360001,154000,0,0,100
2010-09-13,27.910000,28.170000,27.820000,28.150000,51800,0,0,100
2011-10-11,27.360001,28.270000,27.360001,28.200001,29800,0,0,100
2012-02-22,28.040001,28.540001,27.910000,28.430000,41100,0,0,100
2012-04-25,23.719999,24.299999,23.719999,24.280001,102700,0,0,100
2013-03-06,18.570000,19.330000,18.379999,19.030001,137500,0,100,100
2013-09-18,13.370000,14.510000,13.350000,14.470000,171600,0,0,100
2013-12-10,12.000000,12.360000,11.990000,12.080000,178700,0,0,100
2014-04-22,13.600000,13.670000,13.490000,13.670000,136200,0,0,100
2014-07-17,14.680000,14.990000,14.680000,14.950000,75100,0,0,100
2014-08-12,14.590000,14.850000,14.570000,14.740000,37500,0,0,100
2015-04-01,10.090000,10.430000,10.090000,10.430000,159700,0,0,100
2015-05-28,10.520000,10.700000,10.400000,10.700000,88500,0,100,100
2015-07-06,9.580000,9.740000,9.530000,9.700000,247700,0,0,100
2015-11-19,7.010000,7.200000,6.900000,7.150000,239600,0,0,100
2015-12-16,7.090000,7.270000,7.050000,7.270000,150900,0,0,100
2016-02-18,8.920000,9.480000,8.880000,9.450000,87500,0,0,100
2016-03-03,9.550000,9.930000,9.550000,9.880000,112500,0,0,100
2016-05-06,12.640000,13.190000,12.640000,12.860000,275900,0,0,100
2016-07-22,14.920000,15.230000,14.910000,15.190000,155400,0,0,100
2016-07-27,15.140000,15.900000,14.980000,15.880000,387900,0,0,100